<section id="feed" class="feed">
    {{#foreach posts}}
    <article class="{{post_class}}" style="opacity: 100;">
        {{#if image}}
        <a href="{{url}}" class="post-image">
            <img src="{{image}}" alt="">
        </a>{{else}}
        {{/if}}
        <section class="post-meta">
            <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
            <span class="date"><i class="fa fa-clock-o"></i> <a href="{{url}}"><time class="timesince" data-timesince="{{date format='X'}}" datetime="{{date format='YYYY-MM-DDTHH:mm'}}" title="{{date format='D MMMM YYYY'}}">{{date published_at timeago='true'}}</time></a></span>
        </section>
    </article>
    {{~/foreach}}
</section>
<!-- LightWidget WIDGET -->
<script src="//lightwidget.com/widgets/lightwidget.js"></script>
<iframe src="//lightwidget.com/widgets/7ce48f4b782652afba6a269f78d49441.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>

{{pagination}}

