{{!< default}}
{{#post ~}}
<header id="header" class="animated fadeIn"{{#if image}} style="background-image: url({{image}})"{{/if}}>
    <div class="header-background">
    <section class="blog-content">
        <a id="site-url" class="blog-title" href="{{@blog.url}}" style="font-size: 4rem;>{{@blog.title}}</a>
        <span class="blog-description">{{@blog.description}}</span>
        <div style="top: 40px; position: relative;">
            {{> links}}
        </div>
    </section>
    <section class="header-content">
        <h1 class="post-title animated fadeInUp">{{{title}}}</h1>
    </section>
    </div>
</header>
<div class="soundcloudplayer">
    <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/119510424&amp;color=ff9900&amp;auto_play=true&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
</div>  
<main id="main" class="content">
    <article class="animated fadeIn content post {{post_class}}">
        <section class="post-content">
            {{content}}
        </section>
    </article>
</main>
{{~/post}}